
body {
    background-color: rgba(0, 174, 255, 0.61);
}
  
h1 {
  color: rgb(7, 207, 181);
  margin-left: 20px;
}

#myDiv{
  background-color: grey;
  border-style: dotted;
  border-color: rgb(0, 38, 255);
}